.panel-body {
	color:black;
}
.dashboard-panel {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.button-panel{
	margin-right: 18px;
}
#app-search table{
     height: 50px;  

}

#sidebar{
     padding-right: 0px;
     margin-right: 0px;
}
#app-search{
     padding-left: 0px;
     margin-left: 0px;
}
.wrapper {
    color: black;
    background-color: white;
}
table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 300px;  
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 20%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}

.fixed-panel {
 /* min-height: 300px;
  max-height: 300px;*/
  overflow-y: scroll;
}

.row-style{
    height:100%;
}
.deploy-container{
    color: black;
    /*height:600px;*/
}



.left-box {
  border: 2px;
  background-color:white;
  border-color: black;
  height: 100%;
  
}

.right-box {
  border: 2px;
  border-color: black;
  background-color:white;

  height:100%;

 }



.search-box {
    border: 2px;
    background-color:white;
    height: 100px;
    border-color: blue;
}

.searchlist-box {
    border: 2px;
    background-color:white;
    height: 500px;
    border-color: blue;
}


.deploydetails-box{
  border: 2px;
  background-color:red;
  height:100px;
  border-color: blue;
}

.console-box{
  border: 10px;
  border-left: 10px;
  background-color:white;
  height:500px;
  border-color: #999966;

}


.md-dialog-container {
  position: absolute;
}



