<link rel="stylesheet" href="css/deploy.css"> 
    <div class="content">
 	<div class="panel panel-primary">
    	<!-- <div class="container container-fluid" > -->
 	<div class="panel-heading">Application Details</div>
 	<div class="panel-body">


 			 <table class="table table-condensed">
			   <tbody>
			      <tr>
			        <td>App Id:</td>
			        <td>{{$ctrl.app.appid}}</td>
			        <td>App Name:</td>
			        <td>{{$ctrl.app.appname}}</td>
			      </tr>
			      <tr>
			        <td>App Type:</td>
			        <td>{{$ctrl.app.apptype}}</td>
			        <td>App Container:</td>
			        <td>{{$ctrl.app.container}}</td>
			      </tr>
			       <tr>
			        <td>Deployment Type:</td>
			        <td>{{$ctrl.app.appdeptype}}</td>
			        <td>Project Manager:</td>
			        <td>{{$ctrl.app.appprojectmgr}}</td>
			      </tr>
			      <tr>
			        <td>Process Name::</td>
			        <td>{{$ctrl.app.appprocessname}}</td>
			        <td>Team Name:</td>
			        <td>{{$ctrl.app.dgname}}</td>
			      </tr>
			      <tr>
			        <td colspan="1">App Description:</td>
			        <td colspan="3">{{$ctrl.app.desription}}</td>
			      </tr>
			      <tr>
			        <td colspan="1">App Repository:</td>
			        <td colspan="3">{{$ctrl.app.repository}}</td>
			      </tr>
			      <tr>
			        <td colspan="1">Playbook Path:</td>
			        <td colspan="3">{{$ctrl.app.playbook}}</td>
			      </tr>

			    </tbody>
			  </table>
		<!-- <div class="row">
	
			<div id="column1" class="col-md-6">
		 	
			  <div class="form-group">
			    <label  for ="appid" class="control-label col-sm-8" >App Id:</label> 
			    <input type="text" id="appid" class="form-control" ng-model="$ctrl.app.appid" />
			    
			  </div>
			  <div class="form-group">
			    <label  for ="apptype" class="control-label col-sm-8">App Name:</label>
			    <input type="text" id="appname" class="form-control" ng-model="$ctrl.app.appname" />
			  </div>
			   <div class="form-group">
			    <label  for="apptype" class="control-label col-sm-8">App Type:</label>
			    <input type="text" id="apptype" class="form-control" ng-model="$ctrl.app.apptype" /> 
			  </div>
			  <div class="form-group">
			    <label  for="appcontainer" class="control-label col-sm-8">App Container:</label>
			    <input type="text" id="appcontainer" class="form-control" ng-model="$ctrl.app.appcontainer" /> 
			  </div>
			</div>

		<div  id="column2" class="col-md-6">
		   
			  <div class="form-group">
			    <label for="app-deptype" class="control-label col-sm-8">Deployment Type:</label>
			    <input type="text" id="app-deptype" class="form-control" ng-model="$ctrl.app.appdeptype" /> 
			  </div>
			  <div class="form-group">
			    <label for="app-projectmgr" class="control-label col-sm-8">Project Manager:</label>
			    <input type="text" id="app-projectmgr" class="form-control"  ng-model="$ctrl.app.appprojectmgr" />
			  </div>
			  <div class="form-group">
			    <label  for="app=processname" class="control-label col-sm-8">Process Name:</label>
			    <input type="text" id="app-processname" class="form-control" ng-model="$ctrl.app.appprocessname" /> 
			  </div>
			  <div class="form-group">
			    <label for="app.dgname" class="control-label col-sm-8">Team Name: </label>
			    <input type="text" id="app.dgname" class="form-control" ng-model="$ctrl.app.dgname" />
			  </div>
			
		</div>

		<div id="longfields" class="col-md-12">
		
		 	<div class="form-group">
             	<label  for="app.description" class="control-label col-sm-8">App Description: </label> 
             	<input type="text" id="app.description" class="form-control" ng-model="$ctrl.app.desription" />
		 	</div>
		 	<div class="form-group">
 				<label for="app.repository" class="control-label col-sm-8">App Repository:</label>
 				<input type="text" id="app.repository" class="form-control" ng-model="$ctrl.app.repository" />
		 	</div>
		 	<div class="form-group">
		 		<label  for="app.playbook" class="control-label col-sm-8">Playbook Path:</label>
		 		<input type="text" id="app.playbook" class="form-control" ng-model="$ctrl.app.playbook" />
		 
		 	</div>
		 </div>

	        <div  class="pull-right button-panel">
	           <input type="submit" class="btn btn-primary" ng-click="$ctrl.addapplication(app)"/>	            
	        </div>
    	
		 </form>

		</div> -->
	</div>
	</div>
	</div>