   <link rel="stylesheet" href="css/deploy.css"> 
   <!-- <link rel="stylesheet" href="css/light-bootstrap-dashboard.css"> -->
    <div id="app-search" class="content">
	 	<div class="panel panel-primary dashboard-panel">
	    	
	 		<!-- <div class="panel-heading">Application Search</div> --> 
	 		<!-- <div class="pull-right">Application Details</div> -->
	 		<div class="panel-body fixed-panel">
	<!--  <div class="card">
	    <div class="header" > <h4 class="title"> App Search </h4></div> -->
	       <!--  <div class="content">
	 			<form name="appsearchform" class="form-horizontal">
	 				<div class="form-group">
					    <label  for ="appid" class="control-label col-sm-8" >App Id:</label> 
					    <input type="text" id="appid" class="form-control" ng-model="$ctrl.searchparams.appid" />
					</div>
					<div class="form-group">
					    <label  for ="appname" class="control-label col-sm-8">App Name:</label>
					    <input type="text" id="appname" class="form-control" ng-model="$ctrl.searchparams.appname" />
					</div>
					<div class="form-group">
					    <label  for="description" class="control-label col-sm-8">App Type:</label>
					    <input type="text" id="description" class="form-control" ng-model="$ctrl.searchparams.apptype" />
					</div>
					<div  class="pull-right button-panel">
	           			<input type="submit" class="btn btn-primary" ng-click="$ctrl.searchapps(searchparams)"/>	            
	        		</div>
	        		<div  class="form-group">
	           			<input type="submit" class="btn btn-primary" ng-click="$ctrl.searchapps(searchparams)"/>	            
	        		</div>

	 			</form>
	 				 App Id:<input type="text" id="appid" class="form-control" ng-model="$ctrl.searchparams.appid" />
	 				App Name:<input type="text" id="appname" class="form-control" ng-model="$ctrl.searchparams.appname" />
	 				Description:<input type="text" id="description" class="form-control" ng-model="$ctrl.searchparams.apptype" />
	 				<div  class="pull-right button-panel">
	 				<button type="button"  class="btn btn-primary" ng-click="$ctrl.searchapps(searchparams)"> Search </button>
	 				</div> 

	 			</div> -->
	 		 <table class="table table-condensed">
			   <tbody>
			      <tr>
			        <td>App Id:</td>
			        <td><input type="text" id="appid" class="form-control" ng-model="$ctrl.searchparams.appid" /></td>
			        <td>App Name:</td>
			        <td><input type="text" id="appname" class="form-control" ng-model="$ctrl.searchparams.appname" /></td>
			        <td>description:</td>
			        <td><input type="text" id="appname" class="form-control" ng-model="$ctrl.searchparams.description" /></td>
			        <td><button type="button"  class="btn btn-primary" ng-click="$ctrl.searchapps(searchparams)"> Search </button></td>
			      </tr>
			   
			    </tbody>
			  </table>

	   		 </div>

	 		</div>
	 	
 	</div>