  <link rel="stylesheet" href="css/deploy.css"> 
    <div class="content">
	 	<div class="panel panel-primary dashboard-panel">
	    	
	 		<!-- <div class="panel-heading">Application Details</div> -->
	 		<div class="panel-body panel-default">
	 		<table st-table="$ctrl.appDetails" class="table table-striped">
				<thead>
				
				<tr>
					<th st-sort="appid">AppID</th>
					<th st-sort="appname">AppName</th>
					<th st-sort="appDesc">Description</th>
					<th st-sort="appType">AppType</th>
					<th st-sort="appContainer">AppContainer</th>
					<th st-sort="appTeam">AppTeam</th>
					<th st-sort="appDepType">appDepType</th>
					<th > </th>
					<th ></th>



				</tr>
			
				</thead>
				<tbody>
				<tr ng-repeat="row in $ctrl.appDetails">
				
					<td>{{row.appId| uppercase}}</td>
					<td>{{row.appName}}</td>
					<td>{{row.appDesc}}</td>
					<td>{{row.appType}}</td>
					<td>{{row.appContainer}}</td>
					<td>{{row.appTeam}}</td>
					<td>{{row.appDepType}}</td>
					<!-- <td><button type="button" class="btn btn-link" ng-click="$ctrl.viewAppDetails(row.id)"><span class="glyphicon glyphicon-eye-open"></span> View</button>	</td> -->
					<td><md-button class="md-raised" ng-click="$ctrl.viewAppDetails(row.id)">
					<span class="glyphicon glyphicon-eye-open"></span>View</md-button></td>
					<td><button type="button" class="btn btn-link" ng-click="$ctrl.addNewApp(app)"><span class="glyphicon glyphicon-new-window"></span> Deploy</button></td>
				    
					
				</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center">
							<div st-pagination="" st-items-by-page="5" st-displayed-pages=""></div>
						</td>
					</tr>
				</tfoot>
			</table>	

	 		</div>
	 	</div>
	</div>