 <link rel="stylesheet" href="css/deploy.css"> 

<div class="content">
        <div  class="container-fixed "> 
        <!-- <div id="sidebar" class="col-md-2">
             <sidebar></sidebar>  
        </div>  -->
        <div id="main-content1" class="col-md-12">

            <div id="app-search" class="row">
            <div id="app-search" class="col-md-12">
                    <!-- <app-search></app-search> -->
            <div class="panel panel-default">
               <div class="panel-body">
               <form class="form-inline">
            <div class="form-group ">
             
             <div class="col-md-4">
                <input type="text" class="form-control" id="appid" ng-model="$ctrl.searchparams.appid" placeholder="Application Id">
              </div>
              
            </div>
            <div class="form-group">
            <div class="col-md-4">
              <input type="text" class="form-control" id="appname" 
               ng-model="$ctrl.searchparams.appname" placeholder="Application Name" > 
            </div>
            </div>
            <div class="form-group">
            <div class="col-md-4">
              <input type="text" class="form-control" id="description" 
              ng-model="$ctrl.searchparams.description" placeholder="App Description" >
            </div>
            </div>
           
            <button type="button"  class="btn btn-primary" ng-click="$ctrl.searchapps(searchparams)"> Search Apps
            </button>
            <button type="button"  class="btn btn-primary" ng-click="$ctrl.addnew()"> Add New 
            </button>
        </form>
        </div>
        </div> 

               




            </div>
            </div>
            <div id="app-details" class="row">
            
                <div id="app-list" class="col-md-12 ">
                    <search-list app-details="$ctrl.appsList"></search-list>
                </div>

             </div>

         
</div>


        
    </div> 
</div>