<link rel="stylesheet" href="css/deploy.css"> 
    
<md-dialog >
	<md-toolbar>
        <div class="md-toolbar-tools">
                <h2>Application Details</h2>
         </div>
     </md-toolbar>
     <md-dialog-content> 
     <form name="appform" class="form-vertical">
			<div id="column1" class="col-md-6">
		 	 
			  <div class="form-group">
			    <label  for ="appId" class="control-label col-sm-8" >App Id:</label> 
			    <input type="text" id="appId" class="form-control" ng-model="items.appId" 
			    placeholder="App ID" disabled="true"/>
			    
			  </div>
			  <div class="form-group">
			    <label  for ="appName" class="control-label col-sm-8">App Name:</label>
			    <input type="text" id="appName" class="form-control" ng-model="items.appName" placeholder="App Name" disabled="true"/>
			  </div>
			   <div class="form-group">
			    <label  for="appType" class="control-label col-sm-8">App Type:</label>
			    <input type="text" id="appType" class="form-control" ng-model="items.appType" 
			    disabled="true"/> 
			  </div>
			  <div class="form-group">
			    <label  for="appContainer" class="control-label col-sm-8">App Container:</label>
			    <input type="text" id="appContainer" class="form-control" ng-model="items.appContainer" 
			    disabled="true" /> 
			  </div>
			  
			
		</div>

		<div  id="column2" class="col-md-6">
		   
			  <div class="form-group">
			    <label for="appDepType" class="control-label col-sm-8">Deployment Type:</label>
			    <input type="text" id="appDepType" class="form-control" ng-model="items.appDepType" 
			    disabled="true" /> 
			  </div>
			  <div class="form-group">
			    <label for="appProjManager" class="control-label col-sm-8">Project Manager:</label>
			    <input type="text" id="appProjManager" class="form-control" 
			     ng-model="items.appProjManager"  disabled="true" />
			  </div>
			  <div class="form-group">
			    <label  for="appProcessName" class="control-label col-sm-8">Process Name:</label>
			    <input type="text" id="appProcessName" class="form-control" ng-model="items.appProcessName"  disabled="true"/> 
			  </div>
			  <div class="form-group">
			    <label for="appTeam" class="control-label col-sm-8">Team Name: </label>
			    <input type="text" id="appTeam" class="form-control" ng-model="items.appTeam"  disabled="true" />
			  </div>
			
		</div>

		<div id="longfields" class="col-md-12">
		
		 	<div class="form-group">
             	<label  for="app.appDesc" class="control-label col-sm-8">App Description: </label> 
             	<input type="text" id="app.appDesc" class="form-control" ng-model="items.appDesc" 
             	 disabled="true" />
		 	</div>
		 	<div class="form-group">
 				<label for="appRepository" class="control-label col-sm-8">App Repository:</label>
 				<input type="text" id="appRepository" class="form-control" ng-model="items.appRepository"  disabled="true" />
		 	</div>
		 	<div class="form-group">
		 		<label  for="appPlaybook" class="control-label col-sm-8">Playbook Path:</label>
		 		<input type="text" id="appPlaybook" class="form-control" 
		 		ng-model="items.appPlaybook" disabled="true" />
		 
		 	</div>

		 	
		  </div>

	        
    	   
		 </form>
      
       
     
	   </md-dialog-content>
	</md-dialog> 

